* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpeg') no-repeat ;
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 50%;
    margin-left: 30px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup {
    width: 110px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 400;
    margin-left: 50px;
    transition: .5s;
}

.kyai {
    position: absolute;
    right: 70%;
    width: 350px;
}



.navigation .btnlogin-popup:hover {
    background-color: rgb(29, 4, 97);
    color: white;
}

.navigation .btnmenu-popup {
    width: 110px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 400;
    margin-left: 30px;
 margin-right: 30px;
    transition: .5s;
}

.navigation .btnmenu-popup:hover {
    background-color: rgb(29, 4, 97);
    color: white;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb( 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transfrom .5s, height .2s ease;
}

.container{
    width: 100%;
    position: relative;
    text-align: center;
}
.wrapper.active-popup {
    transform: scale(1);
    justify-content: center;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: rgb(29, 4, 97);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 55%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(29, 4, 97);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -7px
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(29, 4, 97);
    font-weight: 600;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    font-size: 1.8em;
    color: black;
    line-height: 60px;
}

.ingat {
    font-size: .9em;
    color: rgb(29, 4, 97);
    margin: -15px 0 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

}

.Judul-Contact{
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
height: 500px;
top: 50px;
position: top;
margin-left: 700px;
}

.p1 {
    /* position: static; */
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    margin-left: -800px;
    line-height: normal;
    height: 350px;
}

.Judul-about{
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
height: 500px;
top: 50px;
position: top;
margin-left: 700px;
}

.about{
    /* position: static; */
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    margin-left: -780px;
    line-height: normal;
    height: 350px;
}

.ingat label input {
    accent-color: rgb(29, 4, 97);
    margin-right: 3px;
}

.ingat a {
    color: rgb(29, 4, 97);
    text-decoration: none;
}

.ingat a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(29, 4, 97);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.btn-hitung{
    width: 30%;
    height: 45px;
    background: rgb(120, 78, 234);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: relative;
}

/* .btnm-kanan{
    width: 30%;
    height: 45px;
    background: rgb(120, 78, 234);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: relative;
    margin-right: 49%;
} */

/* .btnm-kiri{
    width: 3px;
    height: 45px;
    background: rgb(120, 78, 234);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: relative;
    margin-left: 49%;
    margin-bottom: 0px;
    margin-top: 0%px;
    margin: 0%;
} */

.btnm {
    width: 50%;
    height: 45px;
    background: rgb(120, 78, 234);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: relative;
}

.btnlanjut{
    width: 300px;
    height: 45px;
    background: rgb(120, 78, 234);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: fixed;
    bottom: 40px;
    left: 78%;
}

.btnkembali{
    width: 300px;
    height: 45px;
    background: rgb(120, 78, 234);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: fixed;
    bottom: 40px;
    right: 73%;
}

.rumus-a{
    width: 300px;
    margin: 10px;
    margin-right: 50px;
}

.ibnmusa{
    width: 295px;
    margin: 10px;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
}

.btnkembaliwar{
    width: 300px;
    height: 45px;
    background: rgb(38, 93, 202);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    position: fixed;
    bottom: 40px;
    right: 73%;
}


.login-register {
    font-size: .9em;
    color: rgb(29, 4, 97);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register {
    color: rgb(29, 4, 97);
    text-decoration: none;
    font-weight: 500;
}

.login-register p a:hover {
    text-decoration: underline;
}
.box{
    width: 30%;
    border-radius:5px;
}

.btnlewati{
    color: rgb(29, 4, 97);
    padding: 0;
    border: none;
    background: none;

}